Django==1.3.1
hg+https://bitbucket.org/wkornewald/django-nonrel
distribute==0.6.28
dj-database-url==0.2.1
git+https://github.com/django-nonrel/mongodb-engine
django-tastypie==0.9.11
hg+https://bitbucket.org/wkornewald/djangotoolboxmimeparse
psycopg2==2.4.5
pymongo==2.4
python-dateutil==1.5
wsgiref==0.1.2
