mimeparse==0.1.3
git+https://github.com/gdovicak/django-nonrel.git
git+https://github.com/gdovicak/mongodb-engine.git
git+https://github.com/gdovicak/djangotoolbox.git
git+https://github.com/gdovicak/python-inject.git
pymongo==2.1.1