#search
{
    margin-top: 3px;
    margin-right: 15px;
}

.highlight
{
    stroke: black;
    stroke-width:3px;
}

#tooltip {
  background: black;
  color: white;
  opacity: 0.8;
  border-radius: 4px;
  padding: 4px;
}

#chart
{
  width: 960px;
  height: 500px;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.tx.axis line {
  stroke: #fff;
}

.tx.axis .minor {
  stroke-opacity: .5;
}

.tx.axis path {
  display: none;
}

.dot {
  fill : red;
  stroke: black;
  stroke-width:2px;
}

.ty.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}